<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
</head>

<body>
    Ratings
    <hr>

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
    {% endwith %}

    {% block nav%}

    <a href="/">Home</a>

    {% if not session.get('logged_in') %}
    <a href="/register">Register</a>
    {% endif %}

    {% if session.get('logged_in') %}
    <a href="/logout">Log out</a>
    {% else %}
    <a href="/login">Log in</a>
    {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>

</html>